USE [baseOblII]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30/6/2020 12:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 30/6/2020 12:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rut] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Importaciones]    Script Date: 30/6/2020 12:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Importaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[FechaSalidaPrevista] [datetime] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioPorUnidad] [decimal](18, 2) NOT NULL,
	[FechaSalidaReal] [datetime] NULL,
	[MatriculaCamion] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NULL,
	[CiUser] [int] NULL,
	[Producto_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Importaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 30/6/2020 12:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[PesoUnidad] [real] NOT NULL,
	[Cliente_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/6/2020 12:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Contrasenia] [nvarchar](max) NOT NULL,
	[Rol] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Rut], [Nombre]) VALUES (1, N'110003095823', N'Farmashop')
INSERT [dbo].[Clientes] ([Id], [Rut], [Nombre]) VALUES (2, N'123477778565', N'Atos SA')
INSERT [dbo].[Clientes] ([Id], [Rut], [Nombre]) VALUES (3, N'123488889902', N'Tata Consultancy')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Importaciones] ON 

INSERT [dbo].[Importaciones] ([Id], [FechaIngreso], [FechaSalidaPrevista], [Cantidad], [PrecioPorUnidad], [FechaSalidaReal], [MatriculaCamion], [Direccion], [CiUser], [Producto_Id]) VALUES (1, CAST(N'2020-06-01T00:00:00.000' AS DateTime), CAST(N'2020-06-01T00:00:00.000' AS DateTime), 15, CAST(10.00 AS Decimal(18, 2)), CAST(N'2020-06-30T12:20:21.693' AS DateTime), N'ATP2225', N'Gral Flores 2526', 1224431, 1)
INSERT [dbo].[Importaciones] ([Id], [FechaIngreso], [FechaSalidaPrevista], [Cantidad], [PrecioPorUnidad], [FechaSalidaReal], [MatriculaCamion], [Direccion], [CiUser], [Producto_Id]) VALUES (2, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-01-02T00:00:00.000' AS DateTime), 20, CAST(200.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[Importaciones] ([Id], [FechaIngreso], [FechaSalidaPrevista], [Cantidad], [PrecioPorUnidad], [FechaSalidaReal], [MatriculaCamion], [Direccion], [CiUser], [Producto_Id]) VALUES (3, CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(N'2020-06-02T00:00:00.000' AS DateTime), 350, CAST(70.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[Importaciones] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Codigo], [Nombre], [PesoUnidad], [Cliente_Id]) VALUES (1, N'12837461', N'Indica Weed Critical', 0.2, 3)
INSERT [dbo].[Productos] ([Id], [Codigo], [Nombre], [PesoUnidad], [Cliente_Id]) VALUES (2, N'66378222', N'Metales', 70.5, 3)
INSERT [dbo].[Productos] ([Id], [Codigo], [Nombre], [PesoUnidad], [Cliente_Id]) VALUES (3, N'73791236', N'Maderas', 230, 4)
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Cedula], [Nombre], [Contrasenia], [Rol]) VALUES (1, 1, N'SuperAdmin', N'uno', N'admin')
INSERT [dbo].[Usuarios] ([Id], [Cedula], [Nombre], [Contrasenia], [Rol]) VALUES (2, 1224431, N'Dep1', N'Aminta1983', N'deposito')
INSERT [dbo].[Usuarios] ([Id], [Cedula], [Nombre], [Contrasenia], [Rol]) VALUES (3, 473192080, N'Dep2', N'Aminta1983', N'deposito')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
ALTER TABLE [dbo].[Importaciones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Importaciones_dbo.Productos_Producto_Id] FOREIGN KEY([Producto_Id])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[Importaciones] CHECK CONSTRAINT [FK_dbo.Importaciones_dbo.Productos_Producto_Id]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Productos_dbo.Clientes_Cliente_Id] FOREIGN KEY([Cliente_Id])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_dbo.Productos_dbo.Clientes_Cliente_Id]
GO
